

/* Colors used for this project  
nav button color : #0E36C7 ==> blue
H1 Empower : #292E47 ==> grey
Text-color: #6b708d
Background emojis : #D8E3EC ==>grey
Background body and html :#F2F4FC ==> grey
Background section newsletter: #F9C647 ==> yellow

/* Style to be deleted below */


/* CSS reset and adjust the background color */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 10px;
    line-height: 20px;

}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color:#F2F4FC;

}

.container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }


/* Menu photo logo */

nav-bar-logo{
    width: 60px;
    height:18px;
    background-image:url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800b7cb56a839fd8ed026_Circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Menu styling and disposition */
nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    padding: 20px;
}

nav a :first-child {
    color: #0e36c7 !important;
}

.menu-logo{
    width: 60px;
    height: 18px;
    background-image: url(../Images/circle.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Menu  button change style */
nav ul li :hover {
    color:#0E36C7;
    cursor: pointer
}
/* Header styling  button */

.menu-button-style {
    color: white;
    font-size: 1.4rem;
    padding: 15px 30px;
    background-color: #0e36c7;
}

/* Modified in flex */

header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem; 
}
/*  Margin topNeed to be removed 
later to adjust the media */

/* CSS man section */

 /* CSS styling text  */

 #subman-title-container h1{
    font-size: 5rem;
    color: #292E47;
    line-height: 140%;
    font-weight: 600;
    padding-bottom: 20px;

 }
 #subman-text-container p{
    color:#6b708d;
    font-size:2rem;
    line-height: 120%;
 }

 /* CSS styling buttons - Man section */
.first-section-button{
    text-decoration: none;
    color: #6b708d;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 500;
    background-color: transparent;

 }

 .second-section-button{
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    background-color: #0E36C7;
    padding: 15px 30px;
    margin: 0px 40px 0px 30px;
    display: inline-block;
 }

 /* CSS Modified by flex*/
.man-container{
    padding-top: 50px;
    margin-top: 20px;
    box-sizing: border-box;
    
}

.container.subman-container{
    display: flex;
}

.subman-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#subman-text-container{
    padding: 10px 0px 10px 0px
}

.hero1-card{
    position: absolute;
    left:50%;
    top: 30%;
    max-width: 375px;
    width: 20vh;
    background-color: white;
    border-radius: 20%;
}

.hero2-card{
    position: absolute;
    width: 35vh;
    position: absolute;
    right: 10%;
    bottom: -15%;
    max-width: 375px;
    width: 20vh;
    background-color: white;
    border-radius: 20%;
}

.hero-image{
    position: relative;
    vertical-align: center
    width 70%;
}



/* CSS size logo  */

.container.brand-logos-container{
    display: flex;
    justify-content: space-around;
    margin:20px;
    align-items: center;
    margin-top: 100px;
}

.brand-logo{
    width: 40%;
}

/* CSS styling project cards */

#recent-project :nth-child(1){
    font-size: 6rem;
    color: #292E47;
    font-weight: 400;
}

.project-card-title-container > h3{
    font-size:1.8rem;
    color: #292e47;
    line-height: 115%;
    font-weight:500 ;
}

.project-card-subtext-container > span{
    font-size:1.2rem;
    font-weight:400;
    margin-top: 10px;
    display: inline-block;

}

.project-card-img{
    width: 200px;
}

.project-link{
    color: #072ac8;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-title{
    color: #292e47;
    font-size:3rem;
    font-weight: 400;
}

.project-card > div{
    padding: 10px
}

/* CSS display flex */

.section-project-card-container{
    margin-top:100px;
}

 .main-project-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.project-card-text-container{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.project-card-title-container .project-card-subtext-container{
    margin :30px 30px 20px;
}

/* CSS styling emojis card */


h3{
    color: black;
    font-size: 2rem;
    
}

.testimonial-text :first-child{
    color:#ffc600;
    font-size: 1.8rem;
} 


/* CSS display and background */

#emojis-card{
        margin-top: 100px;
        height: 500px;
        margin-right: auto;
        margin-left: auto;
        background-color: #292e47;
        background-image: url(../Images/orbit.png);
        background-size: contain;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;   
    } 



.emoji-picture1{
    width:10%;
    background-color: #292E47;
    position:absolute;
    left:10%;
    top: 20%;
}

.emoji-picture2{
    width: 10%;
    background-color: #292E47;
    position:absolute;
    right:10%;
    top:20%;
}

.emoji-picture3{
    width: 10%;
    background-color: #292E47;
    position:absolute;
    left:10%;
    bottom: 10%
}

.emoji-picture4{
    width: 10%;
    background-color: #292E47;
    position:absolute;
    right: 10%;
    bottom: 10%;
}

.avatar {
    width:15%
}


/* CSS service card display */

#our-services-card{
    padding: 50px;
    height: 500px;
}

#our-services-card .our-service-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
    margin-top: 55px;
    
  }

#our-services-card .small-service-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 50px;
    height: auto;
    background-color: white;
  }

  .small-service-card > h3{
    font-size:1.7rem;
    color: #292e47;
    line-height: 115%;
    font-weight:500 ;
    background-color: white;
    padding: 20px
}

.small-service-card > p{
    font-size:1.5rem;
    font-weight:400;
    margin-top: 10px;
    background-color: white;
    padding: 20px;
}

.small-service-card .project-link{
    background-color: white;
    padding: 20px;
    font-size: 1.2rem;
}

.small-service-card > img {
    background-color: white;
    width: 15%;
    margin: 25px;

}


/* CSS newsletter cards */

.newsletter-subscription-card{
width:auto;
height: 400px;
max-width: 1320px;
margin-top: 100px;
margin-right: auto;
margin-left: auto;
background-color: #ffc600;
flex-direction: column;
display: flex;
align-items: center ;
justify-content: center;

}


.mail-icon img{
    width: 30px;
    position:absolute;
    right: 50px;
    
}

.text-field{
    width: 300px;
    height: 60px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: #ecf7ff;
    color: #292e47;
}

.input-text{
    font-size: 1.4rem;
}

.newsletter-container h3{
    color: #292e47;
    font-size: 3rem;
    padding-bottom: 20px;
    position: relative;
}

.newsletter-span span{
    font-size:1.5rem;
    color: #6b708d;
    padding-bottom: 20px;
    
}

.newsletter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
} 




.newsletter-wrapper{
    display: flex;
    flex-direction: ro
}



.cta-button{
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 1.4rem;
    color: white;
}


/* CSS footer */


.logo-footer{
    width: 300px;
    height: 40px;
    background-image: url(../Images/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


footer {
    display: flex;
    align-content: center;
    margin-top: 60px;
    justify-content: space-between;

}

.footer-content {
    display:flex;
    flex-direction: column;
    width: 40%;
}

address {
    font-size:1.3rem;
    margin-top:20px;
    color: #6b708d;
    flex-grow: 3;

}

.footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;

}

.footer-link{
    font-size: 1.2rem;
    text-decoration: none;
    color: #072ac8;
}



/* Style CSS form */






























